.baselayer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-image: url("//odfk0q3d4.bkt.clouddn.com/images/background/night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;

  .baselayer-cover {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
