* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.md-btn {
  position: relative;
  min-width: 50px;
  min-height: 30px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;


  span:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.117647), 0px 1px 4px rgba(0, 0, 0, 0.117647);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.btn-default {
  background-color: #fff;
  color: #000000;

  span:nth-child(1):hover {
    background-color: rgba(0, 0, 0, 0.0784314);
  }
}

.btn-primary {
  background-color: #2196F3;
  color: #fff;

  span:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.btn-warning {
  background-color: #F44336;
  color: #fff;

  span:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
